.left{
	width: 40%;
	height: 80%;
	display: inline-block;
	position: relative;
}
.left input{
	width: 60%;
}
.right{
	width: 40%;
	height: 80%;
	display: inline-block;
	position: relative;
	bottom: 50%;
	left: 50%;
	
}
.right iframe{
	width: 100%;
	border: 0rem;
	height: 100%;
}
#pageSumbit{
	width: 10%;
	background-color: white;
	border: 2px solid white;
	border-radius: 0.3125rem;
	position: relative;
	bottom: 55%;
}
#choseQues{
	font-family: "黑体";
	font-size: large;
}