table{
	width: 100%;
	border: 0rem;
	text-align: center;
}
td,th{
	border: 0rem;
	padding-top: 2%;
	max-width: 20%;
	padding: 10px;
}
button{
	padding: 5%;
	background: white;
	border: 0.0625rem solid #C3C3C3;
	border-radius: 5px;
}
ul{
	padding-top: 3.125rem;
	padding-bottom: 3.125rem;
	display: -webkit-flex;  
	-webkit-justify-content: center;  
	-webkit-align-items: center;  
}