*{
	margin: 0px;
	padding: 0px;
}
table{
	width: 100%;
	text-align: center;
}
td{
	background-color: #c3c3c3;
}
.pageName{
	width: 20%;
}
.pageStudent{
	width: 20%;
}
.pageScord{
	width: 10%;
}
.pageDate{
	width: 30%;
}
.pageClick{
	width: 20%;
}
button{
	width: 2.5rem;
	height: 1.875rem;
	background-image: url(../img/publicSign/点击.png);
	background-size: 100% 100%;
	border: 0px;
	background-color: #c3c3c3;
}