<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.oes.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.oes.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindPersonServlet</servlet-name>
    <servlet-class>com.oes.servlet.FindPersonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <servlet-class>com.oes.servlet.UpdateInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportExcelServlet</servlet-name>
    <servlet-class>com.oes.servlet.ImportExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImportUserServlet</servlet-name>
    <servlet-class>com.oes.servlet.ImportUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserInformationServlet</servlet-name>
    <servlet-class>com.oes.servlet.UpdateUserInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindPersonServlet</servlet-name>
    <url-pattern>/servlet/FindPersonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateInformationServlet</servlet-name>
    <url-pattern>/servlet/UpdateInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportExcelServlet</servlet-name>
    <url-pattern>/servlet/ImportExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImportUserServlet</servlet-name>
    <url-pattern>/servlet/ImportUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserInformationServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSCProblemServlet</servlet-name>
    <servlet-class>com.oes.servlet.addSCProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSCProblemServlet</servlet-name>
    <url-pattern>/servlet/addSCProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAllProblemServlet</servlet-name>
    <servlet-class>com.oes.servlet.showAllProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllProblemServlet</servlet-name>
    <url-pattern>/servlet/showAllProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAllExamServlet</servlet-name>
    <servlet-class>com.oes.servlet.showAllExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllExamServlet</servlet-name>
    <url-pattern>/servlet/showAllExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addEOTServlet</servlet-name>
    <servlet-class>com.oes.servlet.addEOTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEOTServlet</servlet-name>
    <url-pattern>/servlet/addEOTServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enterExamServlet</servlet-name>
    <servlet-class>com.oes.servlet.enterExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enterExamServlet</servlet-name>
    <url-pattern>/servlet/enterExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>examVerifyServlet</servlet-name>
    <servlet-class>com.oes.servlet.examVerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>judgeExamServlet</servlet-name>
    <servlet-class>com.oes.servlet.judgeExam</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>findbyUid</servlet-name>
    <servlet-class>com.oes.servlet.findbyUid</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>examVerifyServlet</servlet-name>
    <url-pattern>/servlet/examVerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>judgeExamServlet</servlet-name>
    <url-pattern>/servlet/judgeExamServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>findbyUid</servlet-name>
    <url-pattern>/servlet/findbyUid</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>answerServlet</servlet-name>
    <servlet-class>com.oes.servlet.answerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answerServlet</servlet-name>
    <url-pattern>/servlet/answerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showAllAnswerServlet</servlet-name>
    <servlet-class>com.oes.servlet.showAllAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showAllAnswerServlet</servlet-name>
    <url-pattern>/servlet/showAllAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showThisAnswerServlet</servlet-name>
    <servlet-class>com.oes.servlet.showThisAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showThisAnswerServlet</servlet-name>
    <url-pattern>/servlet/showThisAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.oes.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/servlet/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showMyProblemServlet</servlet-name>
    <servlet-class>com.oes.servlet.showMyProblemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showMyProblemServlet</servlet-name>
    <url-pattern>/servlet/showMyProblemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteSCPServlet</servlet-name>
    <servlet-class>com.oes.servlet.deleteSCPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.oes.servlet.ExitServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>deleteSCPServlet</servlet-name>
    <url-pattern>/servlet/deleteSCPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/servlet/ExitServlet</url-pattern>
  </servlet-mapping>
</web-app>